/* hw */
.text-box h3:first-of-type {
    color: pink;
}

#greycol {
    color: grey;
}

.text-box div:last-of-type p {
    color: red;
}
.text-box p {
    color: green;
}

.text-box p:first-of-type {
    color: initial;
}

.text-box .yellow {
    color: yellow;
}
/* list */
.day {
    background-color: #48ff00;
    list-style: disc;
    width: 545px;
}
.subject {
    list-style: numbers;
    padding-left: 5px;
    width: 500px;
}
.subject:nth-child(n) {
    color: #fff;
    background-color: #333;
}
.subject:nth-child(2n) {
    color: #000;
    background-color: #fff;
}
.sch-adrs:hover {
    color: rgb(255, 0, 0);
    text-decoration-line: none;
}
.sch-adrs:visited {
    color: #00ff00;
    text-decoration-line: none;
}